/* body.css */

/* Search container */
.SearchContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fc8112;
    padding: 1rem;
    margin-bottom: 1rem;
}

.search-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 425px;
    margin-left: 500px;
    padding: 0.5rem;
    margin-right: 20px;
}

.search-input:focus {
    outline: none;
    border-color: #e05c6c;
}

.search-button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: white;
    color: black;
}

/* Restaurant card */
.restaurants-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-container {
    width: 200px;
    height: 298px;
    overflow: hidden;
}

.style-0 {
    position: relative;
    display: flex;
    align-items: center;
    contain: layout;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(40, 44, 63) none 0px;
}

.style-1 {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(40, 44, 63) none 0px;
}

.style-2 {
    width: 100%;
    overflow: hidden;
    /* padding: 15px 0px; */
    /* margin: -15px 0px; */
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(40, 44, 63) none 0px;
}

.style-3 {
    height: 260px;
    transition: transform 0.5s ease 0s;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(40, 44, 63) none 0px;
}

.style-4 {
    margin-right: 50px;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(40, 44, 63) none 0px;
}

.style-5 {
    text-decoration: none solid rgb(0, 0, 238);
    margin-right: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(0, 0, 238) none 0px;
    background-color: rgba(0, 0, 0, 0);
}

.style-6 {
    display: block;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    backface-visibility: visible;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(0, 0, 238) none 0px;
    border-style: none;
}

.style-7 {
    margin-right: 100px;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(40, 44, 63) none 0px;
}

.style-8 {
    text-decoration: none solid rgb(0, 0, 238);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(0, 0, 238) none 0px;
    background-color: rgba(0, 0, 0, 0);
}

.style-9 {
    display: block;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    backface-visibility: visible;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(0, 0, 238) none 0px;
    border-style: none;
}

.style-10 {
    margin-right: 50px;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(40, 44, 63) none 0px;
}

.style-11 {
    text-decoration: none solid rgb(0, 0, 238);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(0, 0, 238) none 0px;
    background-color: rgba(0, 0, 0, 0);
}

.style-12 {
    display: block;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    backface-visibility: visible;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(0, 0, 238) none 0px;
    border-style: none;
}

.style-13 {
    margin-right: 50px;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(40, 44, 63) none 0px;
}

.style-14 {
    text-decoration: none solid rgb(0, 0, 238);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(0, 0, 238) none 0px;
    background-color: rgba(0, 0, 0, 0);
}

.style-15 {
    display: block;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    backface-visibility: visible;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(0, 0, 238) none 0px;
    border-style: none;
}

.style-16 {
    right: 0px;
    transform: matrix(1, 0, 0, 1, 23.6, -23.2);
    position: absolute;
    top: 130px;
    width: 47px;
    height: 47px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(41, 48, 63, 0.25) 0px 1px 3px 0px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    outline: rgb(40, 44, 63) none 0px;
    padding: 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box
        border-box;
    border: 0px none rgb(40, 44, 63);
    color: rgb(40, 44, 63);
    margin: 0px;
    appearance: none;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-transform: none;
    overflow: visible;
    font-family: ProximaNova, arial, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 16.8px;
}

.style-17 {
    transform: matrix(-1, 0, 0, -1, 0, 0);
    position: relative;
    display: block;
    color: rgb(83, 86, 101);
    font-size: 18.2px;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    font-weight: 600;
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 18.2px;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(83, 86, 101) none 0px;
}
